.hole-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.page-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 472px;
  overflow: hidden;
  background-color: rgb(250, 247, 243);
  transition: transform .3s;
}

@media screen and (max-height: 480px),
screen and (max-width: 410px) {
  .page-container {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media screen and (max-height: 386px),
screen and (max-width: 330px) {
  .page-container {
    transform: translate(-50%, -50%) scale(0.6);
  }
}

@media screen and (max-height: 290px),
screen and (max-width: 250px) {
  .page-container {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@media screen and (max-height: 240px),
screen and (max-width: 210px) {
  .page-container {
    transform: translate(-50%, -50%) scale(0.4);
  }
}

@media screen and (max-height: 190px),
screen and (max-width: 170px) {
  .page-container {
    transform: translate(-50%, -50%) scale(0.3);
  }
}

@media screen and (max-height: 150px),
screen and (max-width: 130px) {
  .page-container {
    transform: translate(-50%, -50%) scale(0.2);
  }
}

@media screen and (max-height: 100px),
screen and (max-width: 90px) {
  .page-container {
    transform: translate(-50%, -50%) scale(0.15);
  }
}